{% load i18n static %}
<div id="top-panel">
    <div class="menu-button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <div id="search-box" class="subtle-shade">
        <div id="navbar-search" class="navbar-form navbar-left pinsview">
            <form id="search" autocomplete="off" onsubmit="return false">
                <i class="glyphicon glyphicon-menu-left hide-search visible-xs" onclick="$('#search-box').fadeOut(); $('.nav').removeClass('disclose')"></i>
                <i class="fa fa-search hidden-xs"></i>
                <input id="keyword" type="text" name="radix" class="form-control input-sm" placeholder="{% trans "Search" %}">
                <input type="hidden" name="q">
                <span class="spinner" style="display: block"></span>
            </form>
            <div id="navbar-results" class="item" data-min-search-chars="2">
                <div class="stage result" style="margin-left: -20px">
{#                    {% include 'core/snippets/spinner.html' %}#}
                    <div id="suggestions-for-view" style="display:none; margin-top: 20px">
                        <div class="close" style="padding: 5px 12px; margin-left: 350px;"> X </div>
                        <section class="techies">
                             <header>Techies</header>
                             <div class="result">
                                 <ul class="techie">
                                     <li class="ik-hdn choosen"><a href="#" data-type="techie" data-key="1"></a></li>
                                     <li class="line tpl"><a href="#" data-techname="" data-type="techie" data-key="1"></a></li>
                                 </ul>
                             </div>
                            <div class="more"></div>
                        </section>
                         <section class="fibers">
                             <header>Fibers</header>
                             <div class="more"></div>
                             <div class="result">
                                 <ul class="fiber">
                                     <li class="ik-hdn choosen"><a href="#" data-type="fiber" data-key=""></a></li>
                                     <li class="line tpl"><a href="#" data-type="techie" data-key="1"></a></li>
                                 </ul>
                            </div>
                             <div class="more"></div>
                         </section>
                         <section class="pins">
                             <header>{% trans 'Pins' %}</header>
                             <div class="divider"></div>
                             <div class="result">
                                 <ul class="pin">
                                     <li class="ik-hdn choosen"><a href="#" data-type="pin" data-key=""></a></li>
                                     <li class="line tpl"><a href="#" data-type="" data-key="1"></a></li>
                                 </ul>
                             </div>
                             <div class="more"></div>
                         </section>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    {% include 'pinsview/snippets/toolbox.html' %}

</div>


<nav role="navigation" class="nav" style="top: -4px;">
    <ul class="nav-items">
        <li class="nav-item visible-xs">
            <a href="javascript:;" onclick="$('#search-box').fadeIn(); $('.nav').addClass('disclose')">
                <i class="fa fa-search"></i>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="javascript:;" class="nav-link"><i class="glyphicon glyphicon-user"></i></a>
            <nav class="submenu">
                <ul class="submenu-items">
                    <li class="submenu-item" style="font-weight: 700; font-size: 12px; margin-left: 2px; overflow: hidden; width: 100%;">{{ request.user }}</li>
                    <li class="submenu-item"><hr class="submenu-seperator" /></li>
                    <li class="submenu-item"><a href="{% url 'ikwen:staff_router' %}" class="submenu-link" target="_blank">{% trans 'Admin' %}</a></li>
                    {% if request.user.is_superuser %}
                    <li class="submenu-item"><a href="{% url 'pinsview:statistic' %}" class="submenu-link">{% trans 'Stats' %}</a></li>
                    {% endif %}
                    <li class="submenu-item"><a href="{% url 'ikwen:logout' %}" class="submenu-link">{% trans 'Logout' %}</a></li>
                </ul>
            </nav>
        </li>
    </ul>
</nav>